
{
  "env": {
      "browser": true,
      "es6": true,
      "es2021": true
  },
  "globals": {
      "grid": true,
      "app": true
  },
  "extends": "eslint:recommended",
  "rules": {
      "indent": ["error", 4],
      "quotes": ["warn", "single"],
      "semi": ["error", "always"],
      "callback-return": "off",
      "camelcase": "warn"
  }
}